@for $i from 12 through 32 {

  .font-#{$i},
  section.font-#{$i} {
    font-size: #{$i}px;
  }
}

@for $i from 2 through 4 {
  section.columns-#{$i} {
    column-count: #{$i};
  }
}

table {
  display: inline-block
}

.fas {
  // width: 32px;
  text-align: center;
}